<ion-view view-title="Assignments">
<img src="img/book-recommendation3.jpg" style="position:relative;top:60px;height:20%;width:100%;">
<ion-content>


<div class="list card" ng-repeat="a in assignments" style="background-color:#f8f8f8">

  <div class="item item-avatar">
    <img src="img/ben.png">
    <h2 class="dark">{{a.assignment_name}}</h2>
    <p class="assertive">No of questions : {{a.num_of_q}}</p>

  </div>

  <div class="item item-image">
    <img ng-src="{{a.assignment_url}}" style="max-height:200px;" ng-click="down(a.assignment_url)">
  </div>
<div class="row">
  <div class="col">
    
    <p class="positive">Assignment no . {{a.assignment_num}}</p>
</div>
 <div class="col">
    
   <p ng-show="a.submitted"><i class="ion-checkmark-round balanced"></i>&nbsp Submitted</p>
   <p ng-show="a.notsubmitted"><i class="ion-close-round assertive"></i>&nbsp Submission pending</p>
</div>
 </div>

</div>

</ion-content>
  

</ion-view>