<ion-view view-title="Assignments">
<img src="img/book-recommendation3.jpg" style="position:relative;top:60px;height:20%;width:100%;">
<ion-content>


<div class="list card" ng-repeat="a in assignments" style="background-color:#f8f8f8">

  <div class="item item-avatar">
    <img ng-src="{{a.imgurl}}">
    <h2 class="dark">{{a.assignment_name}}</h2>
    <p class="assertive">No of questions : {{a.no_of_questions}}</p>
    <p class="assertive">Posted by : {{a.name}}</p>

  </div>

  <!--<div class="item item-image">
    <img ng-src="{{a.assignment_url}}" style="max-height:200px;" ng-click="down(a.assignment_url)">
  </div>-->
<div class="row">
  <div class="col">
    
    <p class="assertive">Subject . {{a.subject_code}}</p>
</div>
 <div class="col">
    <p class="positive" ng-click="down(a.assignment_url)"><i class="ion-arrow-down-c"></i>&nbsp &nbsp Download</p>
   
</div>
 </div>

</div>

</ion-content>
  

</ion-view>