<!--<ion-view view-title="Attendance">

<div class="item range range-assertive" style="top:120px;border:none;-webkit-appearance:none;pointer-events:none">
  <div class="row">
  	  <div class="col col-80">
  	  	<b>Overall </b>
  <input type="range" name="volume" value="73">
      </div>
      <div class="col col-20">
  <span class="badge badge-balanced" style="top:30px">73%</span>
</div>
  </div>
</div>
<ion-content>

<div class="list" style="top:5px">
	<p class="subdued">Subject-wise</p>
	<a class="item" href="#" style="border:none">
		<div class="row">

			<div class="col col-80">
				<p class="subdued"><b>OBJECT ORIENTED MODELLING AND DESIGN</b></p>
  <div id="progress" style="position:relative; width:100%; height:20px; border:1px solid #cccccc;left:2px">
   <p style="position:absolute; left:0; top:0; background-color:#33cd5f; height:100%; width:88%; font-size:0px"></p>
            </div>

</div>
			<div class="col col-20">
               
      
        
        <span class="badge badge-balanced" style="top:45px">88%</span>
     
    

			</div>
</div>
</a>

<a class="item" href="#" style="border:none">

		<div class="row">

			<div class="col col-80">
				<p class="subdued"><b>ADVANCED COMPUTER ARCHITECTURE</b></p>
  <div id="progress" style="position:relative; width:100%; height:20px; border:1px solid #cccccc;left:2px">
   <p style="position:absolute; left:0; top:0; background-color:#ef473a; height:100%; width:40%; font-size:0px"></p>
            </div>

</div>
			<div class="col col-20">
               
      
        
        <span class="badge badge-assertive" style="top:45px">40%</span>
     
    

			</div>
</div>
</a>



<a class="item" href="#" style="border:none">
		<div class="row">

			<div class="col col-80">
				<p class="subdued"><b>PROGRAMMING THE WEB</b></p>
  <div id="progress" style="position:relative; width:100%; height:20px; border:1px solid #cccccc;left:2px">
   <p style="position:absolute; left:0; top:0; background-color:#11c1f3; height:100%; width:55%; font-size:0px"></p>
            </div>

</div>
			<div class="col col-20">
               
      
        
        <span class="badge badge-calm" style="top:45px">55%</span>
     
    

			</div>
</div>
</a>



<a class="item" href="#" style="border:none">
		<div class="row">

			<div class="col col-80">
				<p class="subdued"><b>C# and .NET</b></p>
  <div id="progress" style="position:relative; width:100%; height:20px; border:1px solid #cccccc;left:2px">
   <p style="position:absolute; left:0; top:0; background-color:#ef473a; height:100%; width:45%; font-size:0px"></p>
            </div>

</div>
			<div class="col col-20">
               
      
        
        <span class="badge badge-assertive" style="top:45px">45%</span>
     
    

			</div>
</div>
</a>



<a class="item" href="#" style="border:none">
		<div class="row">

			<div class="col col-80">
				<p class="subdued"><b>JAVA</b></p>
  <div id="progress" style="position:relative; width:100%; height:20px; border:1px solid #cccccc;left:2px">
   <p style="position:absolute; left:0; top:0; background-color:#11c1f3; height:100%; width:53%; font-size:0px"></p>
            </div>

</div>
			<div class="col col-20">
               
      
        
        <span class="badge badge-calm" style="top:45px">53%</span>
     
    

			</div>
</div>
</a>
</div>
</ion-content>


</ion-view>-->

<ion-view view-title="Attendance">
  <div class="row" style="position:relative;top:90px">
              <div class="col col-50">
                  <h3 style="text-align:left;">Class :&nbsp <span class="positive">{{user.sem}} &nbsp {{user.section}}</h3>
              </div>
              <div class="col col-50">
                  
              </div>
              

     </div>
      
      <p class="subdued" style="position:relative;top:90px;margin-left:10px;font-size:20px;"><i class="icon ion-calculator"></i> &nbsp Attendance and IA Marks</p>
<ion-content>
<ion-item collection-repeat="t in results" style="background-color:#f8f8f8">
    <a class="item item-avatar" href="#">
      <img ng-src="{{t.imgurl}}">
      <h2><b>{{t.subject_name}}</b></h2>
      <p>{{t.subject_code}}</p>
      <p>Faculty : {{t.name}}</p>
      <span class="badge badge-assertive">{{t.attendance}}%</span>
    </a>

    <div class="item tabs tabs-secondary tabs-icon-left" id="search-tabs" style="position:relative;left:0px;border-top:2px solid #f0f0f0" >
    <a class="tab-item" href="#" style="border-right:2px solid #f0f0f0;background-color:#fbfbfb">
      
      <span style="color:black;font-size:15px;text-align:left;">IA1:<b class="positive">{{t.ia1}}</b></span>
    </a>
    <a class="tab-item" href="#" style="border-right:2px solid #f0f0f0;background-color:#fbfbfb">
      
      <span style="color:black;font-size:15px;text-align:left;">IA2:<b class="positive">{{t.ia2}}</b></span>
    </a>
    <a class="tab-item" href="#" style="background-color:#fbfbfb">
      
      <span style="color:black;font-size:15px;text-align:left;">IA3:<b class="positive">{{t.ia3}}</b></span>
    </a>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left" style="position:relative;left:0px;" >
    <a class="tab-item" href="#" style="background-color:#fdfdfd">
      
      <span style="color:black;font-size:15px;text-align:left;">Average : <b class="positive">{{t.average}}</b></span>
    </a>
  </div>
  </ion-item>
</ion-list>
</ion-content>
</ion-view>