<ion-view view-title="Issued Books">
     <div class="row" style="position:relative;top:100px">
              <div class="col col-50">
                  <h2 style="text-align:right;">Fine :</h2>
              </div>
              <div class="col col-50">
                  <h2>&#x20B9 <span id="fine-span">{{fine}}</span></h2>

              </div>
              

     </div>
      <p class="subdued" style="position:relative;top:90px;margin-left:10px;font-size:20px"><i class="icon ion-bookmark"></i> &nbspIssued Books</p>
     <ion-content>
            <ion-list>
  <ion-item collection-repeat="t in results" style="background-color:#f8f8f8">
    <a class="item item-avatar" href="#">
      <img ng-src="{{transactionsdp}}">
      <h2>{{t.book}}</h2>
      <p>{{t.publication}}</p>
      <p>Issue-date: {{t.issue_date}}</p>
      <p>Return-date: {{t.returndate}}</p>

      
    </a>
    
      
      <button class="button button-positive" style="width:100%" ng-click="reissue(t._id,t.reissueflag)">Re-issue</button>
    
  </ion-item>
</ion-list>


 </ion-content>

</ion-view>