<ion-view view-title="Welcome" hide-back-button="true">

  <ion-content id="you-content">

   
      <img src="img/book-recommendation1.jpg" style="height:30%;width:100%">
    

   
   <div class="row" style="height:20%;width:100%;">
      <div class="col col-10">


      </div>
      <div class="col col-30">
         <img src="img/book-search.jpg" style="border-radius:100px;width:70%;height:70%;display:inline">

            
      </div>
      <div class="col col-50">
        <b>Search</b>
        <p class="item-wrap" style="border:none;text-align:left;">Search from a list of more than 4000 books and journals</p>

      </div>
      <div class="col col-10">


      </div>

   </div>
   <div class="row" style="height:20%;width:100%">

            <div class="col col-10">


      </div>
      <div class="col col-30">
         <img src="img/book-recommendation3.jpg" style="border-radius:100px;width:70%;height:70%;display:inline">

            
      </div>
      <div class="col col-50">
        <b>Reserve</b>
        <p class="item-wrap" style="border:none;text-align:left">Reserve a book or journal using your account credentials</p>

      </div>
      <div class="col col-10">


      </div>



   </div>
   <div class="row" style="height:20%;width:100%">

             <div class="col col-10">


      </div>
      <div class="col col-30">
         <img src="img/book-search2.jpg" style="border-radius:100px;width:70%;height:70%;display:inline">

            
      </div>
      <div class="col col-50">
        <b>Pay</b>
        <p class="item-wrap" style="border:none;text-align:left">Pay the amount due as fine on the go</p>

      </div>
      <div class="col col-10">


      </div>



   </div>
   <div class="row">

      <div class="col col-10">

      </div>
      <div class="col col-80">

           <button class="button button-assertive" style="width:100%;border:0px" ng-click="createaccount()">Log in to continue</button>
      </div>
      <div class="col col-10">


      </div>

   </div>

   <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
